/GitHub/nbproject/private/
/GitHub/build/
/U3_A2_DatosEstad/nbproject/private/
/U1_05_PuedoSalir/nbproject/private/
/U1_A2_Frutero/nbproject/private/
/U1_A02_Frutero/nbproject/private/
/U1_A05_PuedoSalir/nbproject/private/
/U1_A04_SolicitarEdad/nbproject/private/
/U1_A08_AreaTriangulo/nbproject/private/
/U1_A09_Patas/nbproject/private/
/U2_A01_CasiCero/build/
/U2_A01_CasiCero/nbproject/private/
